<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <i class="fa fa-glass icon-cocktail"></i><h1>Cocktail <%= @cocktail.name  %></h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">


    <ul class="list-unstyled">
      <% @cocktail.doses.each do |dose| %>
        <li>
          <%= dose.description %>|<%= dose.ingredient.name %>
          <%= link_to "Remove a dose", dose_path(dose), method: :delete , class:'btn btn-danger btn-xs' %>
        </li>
      <% end %>
    </ul>

    <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class:'btn btn-success' %>

    <%= link_to "Back to list", cocktails_path, class:'btn btn-primary' %>
    <%= link_to "Remove Cocktail", cocktail_path(@cocktail), method: :destroy, class:'btn btn-danger' %>
  </div>

</div>
