<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1 class="cocktail-title text-center"> Cocktail <%= @cocktail.name %></h1>
    </div>
 </div>

   <div class="row">

     <div class="col-xs-12 col-sm-5 left-cocktail text-center">
        <%= cl_image_tag(@cocktail.photo, :transformation=>[{ :crop=>"scale"}],class:"cocktail-pic") %>
        <br>
        <br>
        <%= link_to  cocktail_path(@cocktail), method: :delete, data: {confirm: "Do you really want to remove this cocktail?"}, class:'btn btn-danger btn-sm' do %>
          <i class="fa fa-trash-o"></i><span> Remove cocktail</span>
        <% end %>
        <%= link_to  cocktails_path, class:'btn btn-primary btn-sm' do %>
          <span>Back to <i class="fa fa-glass"></i> list</span>
        <% end %>
     </div>

     <div class="col-xs-12 col-sm-5 dose-list">

       <ul class="list-unstyled">
         <% @cocktail.doses.each do |dose| %>
           <li>
            <p><strong><%= dose.description %></strong><span> of <%= dose.ingredient.name %></span>

                <%= link_to dose_path(dose), method: :delete do %>
                  <i class="fa fa-trash trash-cocktail "></i>
                <% end %>

            </p>
           </li>
         <% end %>
       </ul>

     </div>

     <div class="col-xs-12 col-sm-2">
       <%= link_to new_cocktail_dose_path(@cocktail), class:'btn btn-success' do %>
         <i class="fa fa-plus-circle"> Add doses </i>
       <% end %>
     </div>


   </div>

</div>
